node_modules/
package-lock.json
package.json
yarn.lock
yarn.lock.json
yarn.lock.json.lock
yarn.lock.json.lock.lock
yarn.lock.json.lock.lock.lock
yarn.lock.json.lock.lock.lock.lock
yarn.lock.json.lock.lock.lock.lock.lock

.env
.D
.DS_Store
.idea
.pytest_cache
.pytest_cache/
.pytest_cache/v/
.pytest_cache/v/cache/
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/step_cache
.pytest_cache/v/cache/tmp
.pytest_cache/v/cache/tmp/